<!-- MAIN -->
<div class="row">
	<div class="col-sm-6">
		<div class="img-container">
			<img class="left-sandwich-img img-responsive" src="<%= @sandwich1.sandwich_image.url  %>">
			<button class="js-btn-left btn btn-danger btn-home" data-id="<%= @sandwich1.id  %>">Sexy</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="img-container">
			<img class="right-sandwich-img img-responsive" src="<%= @sandwich2.sandwich_image.url  %>">
			<button class="js-btn-right btn btn-danger btn-home" data-id="<%= @sandwich2.id  %>">Sexy</button>
		</div>
	</div>
</div>