<div class="container">
	<!-- TITLE -->
	<div class="row">
		<div class="col-sm-12">
			<div class="title-div">
				<h1 class="title animated lightSpeedIn">#Sandwich.Sexy</h1>
			</div>
		</div>
	</div>

	<!-- MAIN -->
	<div class="row">
		<div class="col-sm-6">
			<div class="img-container">
				<img class="sandwich-img" src="http://dummyimage.com/300x400/000/fff">
				<button class="js-btn-left btn btn-danger" data-id="">Sexy</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="img-container">
				<img class="sandwich-img" src="http://dummyimage.com/300x400/000/fff">
				<button class="js-btn-right btn btn-danger" data-id="">Sexy</button>
			</div>
		</div>
	</div>
</div>