<div class="row">
  <% @sandwiches.each do | sandwich | %>
    <div class="sandwich-index-container col-sm-12">
      <img class="img-responsive sandwich-index-img" src="<%= sandwich.sandwich_image.url %>">
      <div class="sandwich-overlay">
        <div class="sandwich-text">
          <span class="sandwich-likes">
            <%= sandwich.cached_votes_up  %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </span>
          <span class="sandwich-comments">
            2
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>