// Place all the styles related to the Sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sandwich-index-img {
	width: 100%;
	height: 100%;
}

.sandwich-index-container {
	position: relative;
	border: 5px solid #fff;
	border-radius: 3px;
	padding: 0;
	margin: 12px 1.5%;
	z-index: 1;
}

.sandwich-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	position: absolute;
	top: 0;
	display: none;
}

.sandwich-text {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	z-index: 1005;
	color: white;
	font-size: 32px;
	// right: 
}

.sandwich-likes {
	margin: 0 2%;
}

.sandwich-comments {
	margin: 0 2%;
}

.modal-body {
	padding: 0;
}

.sandwich-modal-img {
	height: 600px;
	width: 100%;
}

.sandwich-modal-img-container {
	padding: 0;
	width: 50%;
	display: inline-block;
}

.sandwich-comments-box {
	width: 50%;
	padding-right: 5px;
	padding-left: 5px;
	height: 600px;
	float: right;
	position: relative;
}

.comment-list {
	height: 500px;
	overflow: scroll;
}

.comment-item {
	margin-top: 1%;
}

.comment-form {
	width: 70%;
	position: absolute;
	bottom: 50px;
	left: 15%;
}
@media screen and (min-width: 769px) {
	.sandwich-index-container { 
		height: 400px;
		width: 30%;
		float: left;
	}  
}